@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

button {
    /* background: url(../img/particles.gif); */
    text-decoration: none;
    /* text-shadow: #ee82ee 1px 1px 10px; */
    border: none;
}

button a {
    font-weight: bold;
    text-decoration: none;
    color: red;
}

button:before {
    padding-right: 1px;
    display: inline-block;
}

a {
    color: black;
    font-weight: bold;
    font-family: Poppins;
    text-decoration: none;
}

.discord-ai {
    background: url(../img/particles.gif);
    text-decoration: none;
    text-shadow: #ee82ee 1px 1px 10px;
    border: none;
    color: blue;
}

.youtube-ai {
    background: url(../img/particles.gif);
    text-decoration: none;
    text-shadow: #ee82ee 1px 1px 10px;
    border: none;
    color: red;
}

.facebook-ai {
    background: url(../img/particles.gif);
    text-decoration: none;
    text-shadow: #ee82ee 1px 1px 10px;
    border: none;
    color: blue;
}

.ihalloween-ai {
    background: url(../img/particles.gif);
    text-decoration: none;
    text-shadow: #ee82ee 1px 1px 10px;
    border: none;
    color: orange;
}